.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    user-select: none;
    color: var(--text-color);

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    width: 20px;
    display: flex;
    justify-content: center;
}
.title {
    text-wrap: nowrap;
}

// Button styles
.rounded {
    border-radius: 999px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    color: rgba(22, 24, 35, 0.75);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(255, 255, 255);
    }
}

.primary {
    color: var(--white) !important;
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover,
    &:active {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), rgb(254, 44, 85);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover,
    &:active {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    min-width: 110px;
    padding: 0px 16px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.08);
    margin-right: 2rem;
    &:hover {
        background-color: #00000014;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}
