@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    // Default layout
    --font-family: 'TikTokFont', sans-serif;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // change default root font
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    // At 62.5%, 1.6rem translates to 16px (1.6 times the size of the root font)
    // If root font size at 100%, 1rem = 16px
    // rem unit giving much flexible about font-size than fixed px
    // with 62.5%, easier to set font-size with rem 1rem = 10px
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

// scrollbar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts Embedded
@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Regular.woff2);
    font-weight: 500;
}

@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Semibold.woff2);
    font-weight: 700;
}

// Custom Tippy tooltip

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: #191919;
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
