@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #fe2c55;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // change default root font
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    // At 62.5%, 1.6rem translates to 16px (1.6 times the size of the root font)
    // If root font size at 100%, 1rem = 16px
    // rem unit giving much flexible about font-size than fixed px
    // with 62.5%, easier to set font-size with rem 1rem = 10px
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
